@{
    ViewData["Title"] = "Radix";
}
<div class="text-center">
    <h1 class="display-4">Hello Radix</h1>
</div>
<ul>
    <li>@Html.ActionLink("list", "Items")</li>
    <li>@Html.ActionLink("add", "Create")</li>
</ul>