@model List<app.Data.CatalogItem>

@{
    ViewBag.Title = "Catalogue";
    Layout = "_Layout";
}

<h2>Catalogue</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m=>item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Description)
            </td>
        </tr>
    }
    </tbody>
</table>